* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.App {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  margin-top: -50px;
  box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none !important;
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.452);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(82, 82, 82, 0.507);
}

input:focus {
  outline: none;
}
